/* General */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F9F9F9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #6A5ACD;  /* Color lavanda */
}

p {
    text-align: justify;
    margin: 20px 40px;
    line-height: 1.6;
}

ul {
    margin: 20px 40px;
}

/* Header */
header {
    background-color: #FFB6C1; /* Rosa pastel */
    padding: 30px;
    color: #fff;
}

header h1 {
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    background-color: #FFFFFF;
    padding: 30px;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section:nth-of-type(odd) {
    background-color: #E0FFFF; /* Verde menta */
}

section:nth-of-type(even) {
    background-color: #FFFACD; /* Amarillo pastel */
}

/* Lista */
ul {
    list-style: square;
    padding-left: 30px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #FFB6C1; /* Rosa pastel */
    padding: 15px;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1, h2 {
        font-size: 1.8em;
    }

    p, ul {
        margin: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
